{% extends "base.html" %}
{% block title %} Review cards {% endblock %}
{% block content %}

{% if card %}

<div class="flashcard-container">
  <div class="flashcard">
    <h2>{{ card.question }}</h2>
    <!-- Initially hide the answer paragraph -->
    <hr>
    <h2 id="answer" style="display: none;">{{ card.answer }}</h2>
  </div>
</div>

<!-- Initially hide the difficulty buttons -->
<div id="difficultyButtons" style="display: none;">
  <a href="?index={{ next_index }}&difficulty=0"><button>0</button></a>
  <a href="?index={{ next_index }}&difficulty=1"><button>1</button></a>
  <a href="?index={{ next_index }}&difficulty=2"><button>2</button></a>
  <a href="?index={{ next_index }}&difficulty=3"><button>3</button></a>
  <a href="?index={{ next_index }}&difficulty=4"><button>4</button></a>
  <a href="?index={{ next_index }}&difficulty=5"><button>5</button></a>
</div>


<!-- Show Answer Button -->
<button onclick="showAnswer()" id="showAnswerButton">Show Answer</button>
{% else %}
<p>All cards studied for now.</p>
{% endif %}

<script>
function showAnswer() {
  var answer = document.getElementById('answer');
  var difficultyButtons = document.getElementById('difficultyButtons');
  var showAnswerButton = document.getElementById('showAnswerButton');
  
  // Show the answer
  answer.style.display = 'block';
  // Hide the "Show Answer" button
  showAnswerButton.style.display = 'none';
  // Show the difficulty buttons
  difficultyButtons.style.display = 'block';
}
</script>

{% endblock %}
